:root {
    --smaller: 0.85em;
    --big: 1.5em;
}

::backdrop {
    background-color: #333;
    opacity: 0.75;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
}

@media (min-width: 850px) {
    body {
        font-size: 18px;
        margin: 0 2em 2em 2em;
    }
}

button {
    font-size: inherit;
}

h1 {
    font-size: var(--big);
    line-height: 1;
    margin: 0;
    margin-bottom: 1em;
}

h1 + .cancel {
    display: flex;
    margin-top: 0.5em;
    align-items: center;
}

h1 + .cancel .icon {
    width: 1.25em;
    height: 1.25em;
    transform: rotate(-90deg);
}

@media (min-width: 850px) {
    h1 {
        margin-bottom: 0;
    }
}

input,
select,
textarea {
    font-size: inherit;
    border: 1px solid currentColor;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
}

input[type="checkbox"],
input[type="file"] {
    border: 0;
    padding-left: 0;
    width: initial;
}

input.ng-invalid:not(.ng-pristine) {
    border: 1px solid #b80300;
    outline-color: #b80300;
}

label {
    display: block;
    margin-bottom: .1em;
    font-weight: bold;
}

select {
    background-color: inherit;
}

textarea {
    height: 5em;
}

#page-header {
    display: grid;
    position: sticky;
    top: 0;
    background-color: #fff;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-template-areas:
        "title action"
        "cancel cancel";
}

#page-header h1 {
    margin: 0;
    padding: 0;
    grid-area: title;
    align-items: center;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
}

#page-header app-button {
    grid-area: action;
    justify-self: end;
}

#page-header .cancel {
    grid-area: cancel;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    pointer-events: none;
    font-weight: normal;
}

.negative {
    color: firebrick;
}

.shortcuts {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em 1em;
    padding-top: .25em;
}

.shortcuts a {
    font-size: var(--smaller);
}

.validation-message {
    font-style: italic;
    padding-left: 1em;
    color: #b80300;
    font-weight: normal;
    display: inline;
}

.validation-message svg {
    margin-top: -.25em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}
