:root {
    --smaller: 0.85em;
    --big: 2em;
}

::backdrop {
    background-color: #333;
    opacity: 0.75;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: underline;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0 1em 1em 1em;
}

@media (min-width: 850px) {
    body {
        font-size: 18px;
        margin: 0 2em 2em 2em;
    }
}

button {
    font-size: inherit;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

h1 {
    font-size: var(--big);
    line-height: 1;
    margin: 0;
    margin-bottom: 1em;
}

@media (min-width: 850px) {
    h1 {
        margin-bottom: 0;
    }
}

header {
    margin-bottom: 3em;
    display: grid;
    justify-content: center;
}

@media (max-width: 850px) {
    header.snug {
        margin-bottom: 0;
    }
}

@media (min-width: 850px) {
    header {
        align-items: center;
        margin-top: 4em;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
    }
}

header h1 {
    display: none;
}

@media (min-width: 850px) {
    header h1 {
        display: block;
    }
}

@media (min-width: 850px) {
    header > *:last-child:not(:first-child) {
        display: grid;
        justify-items: end;
        gap: 1em;
    }
}

input,
select,
textarea {
    font-size: inherit;
    border: 1px solid currentColor;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
}

input[type="checkbox"],
input[type="file"] {
    border: 0;
    padding-left: 0;
    width: initial;
}

input.ng-invalid:not(.ng-pristine) {
    border: 1px solid #b80300;
    outline-color: #b80300;
}

label {
    display: block;
    margin-bottom: .1em;
    font-weight: bold;
}

select {
    background-color: inherit;
}

textarea {
    height: 5em;
}

#app-logo {
    margin-top: 1em;
    width: 5em;
}

@media (min-width: 850px) {
    #app-logo {
        margin-top: 4em;
        width: 5em;
    }
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    pointer-events: none;
    font-weight: normal;
}

.negative {
    color: firebrick;
}

.shortcuts {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em 1em;
    padding-top: .25em;
}

.shortcuts a {
    font-size: var(--smaller);
}

.validation-message {
    font-style: italic;
    padding-left: 1em;
    color: #b80300;
    font-weight: normal;
    display: inline;
}

.validation-message svg {
    margin-top: -.25em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}
