BODY {
    font: 18px system-ui, sans-serif;
}

MAIN {
    padding-top: 2em;
}

#app-logo {
    width: 5em;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    pointer-events: none;
    font-weight: normal;
}

FIELDSET {
    padding: 0;
    border: 0;
    margin: 0;
}

LABEL {
    display: block;
    margin-bottom: .1em;
    font-weight: bold;
}

.validation-message {
    font-style: italic;
    padding-left: 1em;
    color: #B80300;
    font-weight: normal;
}

.validation-message svg {
    margin-top: -.25em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}

input, textarea {
    font-size: inherit;
    border: 1px solid currentColor;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
}

input[type=file] {
    border: 0;
    padding-left: 0;
}

textarea {
    height: 10em;
}

.shortcuts {
    display: flex;
    gap: 1em;
    padding-top: .5em;
}

.shortcuts a {
    font-size: .85em;
}


input.ng-invalid:not(.ng-pristine) {
    border: 1px solid #B80300;
    outline-color: #B80300;
}

.ng-untouched .validation-message {
    display: none;
}
