ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

@media (min-width: 850px) {
    #tag-list {
        columns: 3;
    }
}

#tag-list li {
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    break-inside: avoid-column;
}

#tag-list summary {
    cursor: pointer;
    margin-bottom: 1em;
}

#tag-list .icon {
    margin-right: 0.5em;
}

#tag-panel {
    position: relative;
}

dialog {
    min-width: 15em;
    border: 0;
    border-radius: .5em;
    padding: 1em;
}

dialog form {
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 1em;
}

dialog h2 {
    margin: 0;
}

dialog .close {
    align-self: end;
}

dialog .close .icon {
    width: 1em;
}
