<header class="snug">
    <h1>Tags</h1>
</header>

<ul id="tag-list">
    @for (tag of (tags$ | async); track tag.id) {
    <li>
        <svg class="icon"><use xlink:href="#tag"></use></svg>
        <a href="#" (click)="selectTag($event, tag)">{{ tag.name }}</a>
    </li>
    } @empty {
    <li>
        @if (!loading) {
        Nothing found.
        }
    </li>
    }
</ul>

<dialog #dialogRef>
    <form method="dialog">
        @if (selectedTag) {
        <button class="close"><svg class="icon"><use xlink:href="#close"></use></svg></button>

        <h2><svg class="icon"><use xlink:href="#tag"></use></svg> {{ selectedTag.name }}</h2>

        <div [ngPlural]="selectedTag.transaction_count">
                <ng-template ngPluralCase="=0">
                    No transactions
                </ng-template>
                <ng-template ngPluralCase="=1">
                    <a href="#" [routerLink]="['/transactions']" [queryParams]="{tag: selectedTag.name}">1 transaction</a>
                </ng-template>
                <ng-template ngPluralCase="other">
                    <a href="#" [routerLink]="['/transactions']" [queryParams]="{tag: selectedTag.name}">{{ selectedTag.transaction_count|number }} transactions</a>
                </ng-template>
        </div>

        <app-button (click)="rename($event, selectedTag)" label="Rename" icon="edit"></app-button>
        <app-button type="delete" (click)="delete($event, selectedTag)" label="Delete" icon="trash"></app-button>
        }
    </form>
</dialog>
