ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

#panels {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#list-panel {
    columns: 2;
}

#list-panel li {
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    break-inside: avoid-column;
}

#list-panel summary {
    cursor: pointer;
    margin-bottom: 1em;
}

#list-panel .icon {
    margin-right: 0.5em;
}

#tag-panel {
    position: relative;
}

#tag-actions  {
    position: fixed;
}

#tag-actions li {
    margin-bottom: 2em;
}
