table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

table thead:first-of-type th {
    font-weight: normal;
    padding-bottom: 0.5em;
}

table thead:first-of-type th > div {
    display: flex;
    justify-content: space-between;
}

table thead:last-of-type th {
    background-color: #333;
    font-weight: bold;
    padding: .75em;
    white-space: nowrap;
    color: #fff;
    vertical-align: top;
}

tr:not(.empty) td {
    background-color: #fff;
    padding: .75em;
    vertical-align: top;
    border-bottom: 1px solid #333;
}

td p {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.selectors {
    grid-area: selectors;
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.tag-list {
    margin: 1em 0 0 0;
    padding: 0;
    font-size: var(--smaller);
    list-style-type: none;
}

.tag-list LI {
    display: inline;
    padding-right: 1em;
    white-space: nowrap;
}

.tag-list A {
    white-space: nowrap;
}

td .tag-list LI .icon {
    margin-right: .5em;
}

.minibanner {
    display: inline-block;
    text-transform: uppercase;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

.pager {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#page-header {
    grid-template-areas:
        "title action"
        "counts counts"
        "filters filters"
        "search search"
        "selectors selectors"
        "selection-summary selection-summary";
}

@media (min-width: 850px) {
    #page-header {
        grid-template-areas:
            "title action"
            "counts search"
            "filters filters"
            "selectors selection-summary";
    }
}

#page-header app-selection-summary {
    padding-top: 1em;
    grid-area: selection-summary;
}

@media (min-width: 850px) {
    #page-header app-selection-summary {
        text-align: right;
    }
}

#page-header form {
    padding-top: 1em;
    grid-area: search;
}

#page-header .counts {
    grid-area: counts;
    padding-top: 1em;
}

#filters {
    grid-area: filters;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 850px) {
    #filters {
        font-size: inherit;
    }
}

#filters li {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

#filters .name {
    font-style: italic;
    padding: 0 0.5em;
}

#filters .value {
    padding: 0 0.5em;
    font-weight: bold;
}

#filters .remove {
    margin-right: 0.5em;
    display: flex;
    gap: 0 0.5em;
    align-items: center;

}

#filters .remove .icon {
    color: red;
}

@media (min-width: 850px) {
    #filters .value {
        display: inline;
        margin-left: 0;
    }
}

.receipt {
    margin-top: 1em;
    font-size: var(--smaller);
    text-transform: uppercase;
}
.receipt .icon {
    margin-right: 0.25em;
}

.transaction-type {
    font-size: var(--smaller);
    padding-top: .5em;
    text-transform: uppercase;
}

TR.cleared TD {
    background-color: #B4CFC7;
}

TR.cleared .minibanner {
    background-color: lightgreen;
}

TR.future TD {
    background-color: #3E7CB1;
    color: #fff;
}

TR.future .minibanner {
    background-color: none;
}

TABLE TR.selected TD {
    background-color: lemonchiffon;
}

TABLE TR.future {
    display: none;
}

TABLE.showFuture TR.future {
    display: table-row;
}

.sleeve {
    overflow: scroll;
}
