fieldset {
    border: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
}

input[type="search"] ~ button {
    border-radius: 0;
    border: 1px solid #333;
    padding: 0.25em 1em;
}

input[type="search"] ~ button svg {
    width: 1.5em;
    height: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

table thead:first-of-type th {
    font-weight: normal;
    padding-bottom: 0.5em;
}

table thead:first-of-type th > div {
    display: flex;
    justify-content: space-between;
}

table thead:last-of-type th {
    background-color: #333;
    font-weight: bold;
    padding: .75em;
    white-space: nowrap;
    text-align: left;
    color: #fff;
    vertical-align: top;
}

tr:not(.empty) td {
    background-color: #fff;
    padding: .75em;
    vertical-align: top;
    border-bottom: 1px solid #333;
}

td p {
    margin-top: 0;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.selectors {
    display: flex;
    gap: 1em;
}

.tag-list {
    margin: 1em 0 0 0;
    padding: 0;
    list-style-type: none;
}

.tag-list LI {
    display: inline;
    padding-right: 1em;
    white-space: nowrap;
}

.tag-list A {
    white-space: nowrap;
}

.tag-list LI .icon {
    margin-right: .5em;
}

.minibanner {
    display: inline-block;
    text-transform: uppercase;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}

.pager {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.filters {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.filters li {
    padding-bottom: .5em;
}

.filters li a:last-child:not(:first-child) {
    margin-left: 1em;
}

.filters .name {
    font-weight: bold;
}

.filters .value {
    font-style: italic;
}

.transaction-type {
    font-size: var(--smaller);
    padding-top: .5em;
    text-transform: uppercase;
}


/* .pager > div:not(:nth-child(2)) { */
/*     display: flex; */
/*     flex-flow: row nowrap; */
/*     justify-content: space-between; */
/* } */

/* .pager A:hover { */
/*     text-decoration: none; */
/* } */

/* .pager A:hover SPAN { */
/*     text-decoration: underline; */
/* } */

/* .pager SPAN { */
/*     padding: 0 0.25em; */
/* } */

TR.cleared .minibanner {
    background-color: lightgreen;
}

TABLE TR.selected TD {
    background-color: lemonchiffon;
}

.selection-summary > div {
    padding: 1em 0;
}
