<ng-template #filtersFragment>
    @if (filters.length === 0 && canRestorePreviousFilter) {
    <ul class="filters">
        <li>Search filters were cleared. <a href="#" (click)="restoreFilters($event)">Restore</a></li>
    </ul>
    }

    @if (filters.length > 0) {
    <ul class="filters">
        @for (scope of filters; track scope[0]) {
        <li>
            @if ($first) {
            Where
            } @else {
            …and
            }
            <span class="name">{{ scope[0] }}</span> matches <span class="value">{{ scope[1] }}</span>
            @if (scope[0] == "account") {
            <a class="remove" href="#" (click)="clearFilter('account', $event)">Remove</a>
            }

            @if (scope[0] == "tag") {
            <a href="#" (click)="clearFilter('tag', $event)">Remove</a>
            }

            @if (scope[0] == "search") {
            <a href="#" (click)="clearFilter('search', $event)">Remove</a>
            }
        </li>
        }

        @if (filters.length > 1) {
        <li><a href="#" (click)="clearFilter('all', $event)">Remove all</a></li>
        }
    </ul>
    }
</ng-template>

<ng-template #selectorsFragment>
    <div class="selectors">
        @if (selections.length === 0) {
        <a href="#" (click)="select('all', $event)">Select all</a>
        } @else {
        <a href="#" (click)="select('none', $event)">Unselect all</a>
        }

        @if (hasPending && selections.length === 0) {
        <a href="#" (click)="select('pending', $event)">Select pending</a>
        }

        @if (hasPending && selections.length > 0) {
        <a href="#" (click)="select('not-pending', $event)">Unselect pending</a>
        }
    </div>
</ng-template>

<ng-template #countsFragment>
    <div class="counts">
        @if (paging.isVisible) {
        {{ paging.displayStart | number }} to {{ paging.displayEnd | number }} of {{ paging.total | number }}
        } @else {
        0 of {{ paging.total | number }}
        }
    </div>
</ng-template>

<header>
    <div>
        <h1>Transactions</h1>
        <ng-container [ngTemplateOutlet]="filtersFragment"></ng-container>
    </div>

    <div>
        <app-button label="Add transaction" icon="add" routerLink="/transactions/new"></app-button>
        <form (ngSubmit)="search()" [formGroup]="searchForm" autocomplete="off">
            <input (input)="onSearchInput($event)" type="search" formControlName="query" placeholder="Search transactions" />
        </form>
    </div>
</header>

<table #tableRef>
    @for (transaction of (transactions$ | async); track transaction.id) {

    @if ($first) {
    <thead>
        <tr>
            <th colspan="7">
                <div>
                    <ng-container [ngTemplateOutlet]="selectorsFragment"></ng-container>
                    <ng-container [ngTemplateOutlet]="countsFragment"></ng-container>
                </div>
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th class="align-left">Date</th>
            <th class="align-left">Account</th>
            <th class="align-left">Details</th>
            <th class="align-right">Amount</th>
            <th class="align-center">Status</th>
        </tr>
    </thead>
    }
    <tr [class]="transaction.rowClasses">
        <td><input type="checkbox" (click)="toggleSelection(transaction)" [checked]="transaction.selected" /></td>
        <td>
            <a [routerLink]="['/transactions', transaction.id, 'edit']">{{ transaction.id }}</a>
        </td>
        <td class="nowrap">
            {{ transaction.occurred_on|date:'longDate' }}
        </td>
        <td class="nowrap">
            @if (transaction.account) {
            <a [routerLink]="[]" [queryParams]="{account_id: transaction.account.id}" queryParamsHandling="merge">
                {{ transaction.account.name }}
            </a>
            }

            @if (transaction.isTransfer) {
            <div>↓</div>
            }

            @if (transaction.destination) {
            <a [routerLink]="[]" [queryParams]="{account_id: transaction.destination.id}" queryParamsHandling="merge">
                {{ transaction.destination.name }}
            </a>
            }
        </td>
        <td>
            @if (transaction.payee) {
            <p><a [routerLink]="[]" [queryParams]="{query: 'payee:' + transaction.payee}" queryParamsHandling="merge">{{ transaction.payee }}</a></p>
            } @else {
            <p>No payee</p>
            }

            @if (transaction.note) {
            <p><em>{{ transaction.note }}</em></p>
            }

            <ul class="tag-list">
                @for (tag of transaction.tags; track tag.id) {
                <li>
                    @if ($first) {
                    <svg class="icon"><use xlink:href="#tag"></use></svg>
                    }
                    <a [routerLink]="['/transactions']"
                       [queryParams]="{tag: tag.name}"
                       queryParamsHandling="merge">{{ tag.name }}</a>
                </li>
                }
            </ul>
        </td>
        <td class="align-right nowrap">
            {{ transaction.amount | currency }}
            <div class="transaction-type">{{ transaction.transactionType }}</div>
            @if (transaction.receipt_mime) {
            <div class="receipt">
                <svg class="icon"><use xlink:href="#scroll"></use></svg>
                <a target="_blank" href="{{ transaction.receiptUrl }}">Receipt</a>
            </div>
            }
        </td>
        <td class="align-center">
            @if (transaction.cleared_on) {
            <div class="minibanner">Cleared</div>
            } @else if (transaction.isFuture) {
            <div class="minibanner">Future</div>
            } @else {
            <div class="minibanner">Pending</div>
            <p><a href="#" (click)="clearTransaction($event, transaction)">Clear</a></p>
            }
        </td>
    </tr>
    } @empty {
    <tr class="empty">
        @if (!loading) {
        <td>
            <p>Nothing found.</p>

            @if (route.snapshot.queryParamMap.keys.length > 0) {
            <p><a href="#" (click)="clearFilter('all', $event)">View all transactions</a></p>
            }
        </td>
        }
    </tr>
    }
</table>

@if (paging.total > 0) {
<div class="pager">
    @if (paging.canNavigateToFirstPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.firstOffset}" queryParamsHandling="merge">
        <span>First</span>
    </a>
    }

    @if (paging.canNavigateToPreviousPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.previousOffset}" queryParamsHandling="merge">
        <span>Previous</span>
    </a>
    }

    @if (paging.canNavigateToNextPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.nextOffset}" queryParamsHandling="merge">
        <span>Next</span>
    </a>
    }

    @if (paging.canNavigateToLastPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.lastOffset}" queryParamsHandling="merge">
        <span>Last</span>
    </a>
    }
</div>
}
