<header>
    <div></div>
    <app-button label="Add transaction" icon="add" routerLink="/transactions/new"></app-button>
    <h1>{{ title }}</h1>
</header>

<form (ngSubmit)="search()" [formGroup]="searchForm" autocomplete="off">
    <fieldset>
        <input type="search" formControlName="query"/>
        <button [disabled]="searchForm.invalid" type="submit"><svg><use xlink:href="#search" /></svg></button>

        @if (query.value) {
        <a href="#" (click)="clearSearch($event)">Clear Search</a>
        }
    </fieldset>
</form>


<div class="paging">
    <div>
    @if (account_id > 0) {
    <a class="all" routerLink="/transactions">Show all</a>
    }
    </div>

    <div>
        @if (paging.isVisible) {
        {{ paging.displayStart | number }} to {{ paging.displayEnd | number }} of {{ paging.total | number }}, newest first
        } @else {
        0 of {{ paging.total | number }}
        }
    </div>
</div>

<table>
    @for (transaction of (transactions$ | async); track transaction.id) {

    @if ($first) {
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Account</th>
            <th>Details</th>
            <th class="align-right">Amount</th>
            <th class="align-center">Status</th>
        </tr>
    </thead>
    }
    <tr [class]="transaction.rowClasses" (click)="toggleSelection($event, transaction)">
        <td>
            <a class="nowrap" [routerLink]="['/transactions', transaction.id, 'edit']">{{ transaction.id }}</a>
        </td>
        <td class="nowrap">
            {{ transaction.occurred_on|date:'longDate' }}
        </td>
        <td class="nowrap">
            @if (transaction.account) {
            <a [routerLink]="[]" [queryParams]="{account: transaction.account.id}" queryParamsHandling="merge">
                {{ transaction.account.name }}
            </a>
            }

            @if (transaction.isTransfer) {
            <div>↓</div>
            }

            @if (transaction.destination) {
            <a [routerLink]="[]" [queryParams]="{account: transaction.destination.id}" queryParamsHandling="merge">
                {{ transaction.destination.name }}
            </a>
            }
        </td>
        <td>
            @if (transaction.payee) {
            <p>{{ transaction.payee }}</p>
            } @else {
            <p>No payee</p>
            }

            @if (transaction.note) {
            <p><em>{{ transaction.note }}</em></p>
            }

            @if (transaction.receipt_mime) {
            <p>
                <a target="_blank" href="/ledger/receipts/{{ transaction.id }}">
                    <svg class="icon"><use xlink:href="#icon-file"></use></svg> receipt
                </a>
            </p>
            }
            <!-- MIGRATION_PENDING
                 <ul class="tag-list" *ngIf="transaction.tags">
                 <li *ngFor="let tag of transaction.tags; first as isFirst">
                 <svg *ngIf="isFirst" class="icon"><use xlink:href="#icon-tag"></use></svg>
                 <a [routerLink]="['/transactions']" [queryParams]="{q: 'tags:' + tag}">{{ tag }}</a>
                 </li>
                 </ul> -->
        </td>
        <td class="align-right nowrap">
            {{ transaction.amount | currency }}
            <div class="transaction-type">{{ transaction.transactionType }}</div>
        </td>
        <td class="align-center">
            @if (transaction.cleared_on) {
            <div class="minibanner">Cleared</div>
            } @else {
            <div class="minibanner">Pending</div>
            <p><a href="#" (click)="clearTransaction($event, transaction)">Clear</a></p>
            }
        </td>
    </tr>
    } @empty {
    <tr class="empty">
        <td><p>Nothing found.</p></td>
    </tr>
    }
</table>

@if (paging.total > 0) {
<div class="pager">
    @if (paging.canNavigateToFirstPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.firstOffset}" queryParamsHandling="merge">
        <span>Newest</span>
    </a>
    }

    @if (paging.canNavigateToPreviousPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.previousOffset}" queryParamsHandling="merge">
        <span>Newer</span>
    </a>
    }

    @if (paging.canNavigateToNextPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.nextOffset}" queryParamsHandling="merge">
        <span>Older</span>
    </a>
    }

    @if (paging.canNavigateToLastPage) {
    <a [routerLink]="[]" [queryParams]="{offset: paging.lastOffset}" queryParamsHandling="merge">
        <span>Oldest</span>
    </a>
    }
</div>
}
