<header>
    <div>
        @if (id.value > 0) {
        <h1>Edit Account</h1>
        } @else {
        <h1>New Account</h1>
        }

        <a class="cancel" [routerLink]="returnRoute">Cancel</a>
    </div>

    @if (canDelete()) {
    <app-button type="delete" label="Delete" icon="trash" [confirmationMessage]="deletionConfirmationMessage" (confirmed)="delete($event)"></app-button>
    }
</header>


<form (ngSubmit)="save()" [formGroup]="accountForm" autocomplete="off">
    <input type="hidden" formControlName="id" />
    <div>
        <app-label [control]="name" text="Name" />
        <input id="accountName" type="text" formControlName="name" autofocus />
    </div>

    <div>
        <app-label [control]="url" text="URL" />
        <input id="accountUrl" type="url" formControlName="url" />
    </div>

    <div>
        <app-label [control]="accountNumber" text="Account Number" />
        <input id="accountNumber" type="text" formControlName="account_number" />
    </div>

    <div>
        <app-label [control]="routingNumber" text="Routing Number" />
        <input id="routingNumber" type="text" formControlName="routing_number" />
    </div>

    <div>
        <app-label [control]="openedOn" text="Opened On" [customMessage]="accountForm.getError('accountDates')?.value" />
        <input id="accountOpened" type="date" formControlName="opened_on" max="today" />
        <div class="shortcuts">
            <a href="#" (click)="clear($event, 'opened_on')">Clear</a>
        </div>
    </div>

    <div>
        <app-label [control]="closedOn" text="Closed On" [customMessage]="accountForm.getError('accountDates')?.value" />
        <input id="accountClosed" type="date" formControlName="closed_on" max="today" />
        <div class="shortcuts">
            <a href="#" (click)="clear($event, 'closed_on')">Clear</a>
        </div>
    </div>

    <div>
        <app-label [control]="note" text="Notes" />
        <textarea id="accountNote" type="text" formControlName="note" ></textarea>
    </div>

    <div>
        <label for="accountLogo">Logo</label>

        @if (canShowLogo()) {
        <img id="currentLogo" src="{{ logo_url!.value }}" alt="Logo" title="" />
        }

        <input id="accountLogo" type="file" (change)="onFileChange($event)" />

        <div class="shortcuts">
            @if (canShowLogo()) {
            <app-button type="trash" (click)="discardLogo($event)" icon="trash" [label]="'Discard current logo'"></app-button>
            }
        </div>
    </div>

    <footer>
        @if (errorMessage) {
        <p class="validation-message">{{ errorMessage }}</p>
        }
        <app-button type="save" icon="floppy" [disabled]="accountForm.invalid || accountForm.pristine" [label]="'Save'"></app-button>
    </footer>
</form>
