<header>
    <a [routerLink]="returnRoute">Cancel</a>

    @if (canDelete()) {
    <app-button type="delete" label="Delete account" icon="bolt" confirmationMessage="Delete this account?" (confirmed)="delete()"></app-button>
    }
</header>


<form (ngSubmit)="save()" [formGroup]="accountForm" autocomplete="off">
    <input type="hidden" formControlName="id" />
    <fieldset [class.invalid]="name.invalid">
        <label for="accountName">
            Name
            @if (name.hasError('required')) {
            <span class="validation-message"><svg><use xlink:href="#warning" /></svg> The account must have a name</span>
            }

            @if (name.hasError('unique')) {
            <span class="validation-message"><svg><use xlink:href="#warning" /></svg> This name is already used</span>
            }
        </label>
        <input id="accountName" type="text" formControlName="name" autofocus />
    </fieldset>

    <fieldset [class.invalid]="url.invalid">
        <label for="accountUrl">URL</label>
        <input id="accountUrl" type="url" formControlName="url" />
    </fieldset>

    <fieldset [class.invalid]="openedOn.invalid">
        <label for="accountOpened">
            Opened On

            @if (accountForm.hasError('accountDates')) {
            <span class="validation-message">Open date must be before close date.</span>
            }

        </label>
        <input id="accountOpened" type="date" formControlName="opened_on" max="today" />
        <div class="shortcuts">
            <a href="#" (click)="clear($event, 'opened_on')">Clear</a>
        </div>
    </fieldset>

    <fieldset [class.invalid]="closedOn.invalid">
        <label for="accountClosed">
            Closed On

            @if (accountForm.hasError('accountDates')) {
            <span class="validation-message">Close date must be after open date.</span>
            }

        </label>
        <input id="accountClosed" type="date" formControlName="closed_on" max="today" />
        <div class="shortcuts">
            <a href="#" (click)="clear($event, 'closed_on')">Clear</a>
        </div>
    </fieldset>

    <fieldset [class.invalid]="note.invalid">
        <label for="accountNote">Notes</label>
        <textarea id="accountNote" type="text" formControlName="note" ></textarea>
    </fieldset>

    <fieldset>
        <label for="accountLogo">Logo</label>

        @if (canShowLogo()) {
        <img id="currentLogo" src="{{ logo_url!.value }}" alt="Logo" title="" />
        }

        <input id="accountLogo" type="file" (change)="onFileChange($event)" />

        <div class="shortcuts">
            @if (canShowLogo()) {
            <app-button type="trash" (click)="discardLogo($event)" icon="trash" [label]="'Discard current logo'"></app-button>
            }
        </div>
    </fieldset>

    <footer>
        @if (errorMessage) {
        <p class="validation-message">{{ errorMessage }}</p>
        }
        <app-button type="save" icon="floppy" [disabled]="accountForm.invalid || accountForm.pristine" [label]="'Save account'"></app-button>
    </footer>
</form>
