aside {
    background-color: lemonchiffon;
    border: 1px solid #e6c700;
    padding: 0 1em;
    position: relative;
    box-sizing: border-box;
}

.close {
    position: absolute;
    top: -0.1em;
    right: 0.25em;
    font-size: 1.25em;
    text-decoration: none;
}
