#shell {
    margin: auto;
}

#shell > div:first-child {
    text-align: center;
}

@media (min-width: 850px) {
    #shell {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: 10em 1fr;
        max-width: 75em;
    }

    #shell > div:first-child {
        text-align: left;
    }
}

#shell nav {
    position: sticky;
    top: 0;
}

#shell nav a {
    text-decoration: none;
}

#shell nav a.active {
    color: currentColor;
    font-weight: bold;
    text-decoration: none;
}

#shell nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

@media (min-width: 850px) {
    #shell nav ul {
        display: block;
    }
}

#shell nav ul li {
    display: inline-block;
    padding: 0.5em;
}

@media (min-width: 850px) {
    #shell nav ul li {
        display: block;
        padding: 0;
    }
}

#shell nav li {
    margin-bottom: 1em;
}

#shell > svg {
    display: none;
}
