#app-shell {
    padding: 0.75em;
    margin: auto;
}

@media (min-width: 850px) {
    #app-shell {
        display: grid;
        align-items: start;
        grid-column-gap: 1em;
        grid-template-columns: 10em 1fr;
        max-width: 75em;
    }
}

#app-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    display: grid;
    align-items: center;
    gap: 0 1em;
    grid-template-columns: auto 1fr;
}

@media (min-width: 850px) {
    #app-nav {
        display: block;
    }
}

#app-logo {
    width: 3em;
    display: block;
}

@media (min-width: 850px) {
    #app-logo {
        width: 5em;
        margin: 0 0 1em 0;
    }
}

#app-logo img {
    width: 100%;
}

#app-nav ul {
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em 1.5em;
    list-style-type: none;
    justify-content: start;
    margin: 0;
    padding: 0.5em 0;
}

@media (min-width: 850px) {
    #app-nav ul {
        gap: 1em;
        flex-flow: column nowrap;
    }
}

#app-nav a {
    text-decoration: none;
}

#app-nav a.active {
    color: currentColor;
    font-weight: bold;
    text-decoration: none;
}

#app-nav a.active span {
    font-weight: normal;
}

#shell > svg {
    display: none;
}
