BUTTON {
    border: 0;
    margin: 0;
    padding: .5em 1em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-radius: .75em;
    background-color: #5f816a;
    color: #fff;
    cursor: pointer;
    height: 2.5em;
}

BUTTON:hover {
    background-color: #72977e;
}

BUTTON:active {
    background-color: #95b19e;
}

BUTTON[disabled],
BUTTON[disabled]:hover,
BUTTON[disabled]:active {
    background-color: #666;
    color: currentColor;
    opacity: 0.5;
}

.delete {
    background-color: #b80300;
    color: #fff;
}

.delete:hover {
    background-color: #ff221f;
}

.delete:active {
    background-color: #ff4747;
}

.save {
    background-color: #2a68a2;
    color: #fff;
}

.save:hover {
    background-color: #327dc3;
}

.save:active {
    background-color: #5d9bd5;
}

.trash {
    background-color: #2d0320;
    color: #fff;
}

.trash:hover {
    background-color: #600643;
}

.trash:active {
    background-color: #730751;
}
