BUTTON {
    border: 0;
    margin: 0;
    padding: .5em 1em;
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-radius: .75em;
    background-color: #5F816A;
    color: #fff;
    cursor: pointer;
    height: 2.5em;
}

BUTTON:hover {
    background-color: #72977E;
}

BUTTON:active {
    background-color: #95B19E;
}

BUTTON[disabled], BUTTON[disabled]:hover, BUTTON[disabled]:active {
    background-color: #666;
    color: currentColor;
    opacity: .5;
}


.delete {
    background-color: #B80300;
    color: #fff;
}

.delete:hover {
    background-color: #FF221F;
}

.delete:active {
    background-color: #FF4747;
}

.save {
    background-color: #2A68A2;
    color: #fff;
}

.save:hover {
    background-color: #327DC3;
}

.save:active {
    background-color: #5D9BD5;
}

.trash {
    background-color: #2D0320;
    color: #fff;
}

.trash:hover {
    background-color: #600643;
}

.trash:active {
    background-color: #730751;
}
