form {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2em 4%;
}

.double-wide {
    grid-column: span 2;
}

#autocomplete {
    grid-column: span 2;
    margin-top: 1em;
    background-color: lemonchiffon;
    border: 1px solid #E6C700;
    padding: 1em;
    border-radius: .5em;
    justify-items: start;
}

#autocomplete h2 {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

#autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#autocomplete li:not(:last-of-type) {
    margin-bottom: .5em;
}
