@if (showHeader()) {
<header>
    <div>
        @if (id.value > 0) {
        <h1>Edit Transaction</h1>
        } @else {
        <h1>New Transaction</h1>
        }

        <a class="cancel" [routerLink]="returnRoute">Cancel</a>
    </div>

    @if (canDelete()) {
    <app-button
        (confirmed)="delete($event)"
        type="delete"
        label="Delete"
        icon="trash"
        confirmationMessage="Delete this transaction?"></app-button>
    }


</header>
}

<form (ngSubmit)="save()" [formGroup]="transactionForm" autocomplete="off">
    <input type="hidden" formControlName="id" />

    <div>
        <app-label [control]="payee" text="Payee" />
        <input id="payee" type="text" formControlName="payee" />
    </div>

    <div>
        <app-label [control]="amount" text="Amount" />
        <input id="amount" type="number" formControlName="amount" pattern="[0-9.]*" min="0.01" step=".01" required />
    </div>

    @if (autocompleteCandidates$ | async; as candidates) {
    @if (candidates.length > 0) {
    <div class="autocomplete double-wide">
        <div class="candidates">
            <a class="close" href="#" (click)="hideAutocompleteCandidates($event)">
                <svg class="icon"><use xlink:href="#close"></use></svg>
            </a>

            <strong>Autocomplete from:</strong>
            @for (transaction of candidates; track transaction.id) {
            <div class="candidate">
                <span>
                    <a href="#" (click)="autocomplete($event, transaction)">
                        {{ transaction.payee }}
                    </a>: {{ transaction.amount|currency }}

                    @if (transaction.destination) {
                    to {{ transaction.destination.name }}
                    }

                    @if (transaction.account) {
                    from {{ transaction.account.name }}
                    }

                    on {{ transaction.occurred_on|date:'longDate' }}
                </span>

                @if (transaction.delimitedTags) {
                <span>
                    <svg class="icon"><use xlink:href="#tag"></use></svg>
                    {{ transaction.delimitedTags }}
                </span>
                }
            </div>
            }
        </div>
    </div>
    }
    }


    <div>
        <app-account-menu
            [control]="accountId"
            [block]="destinationId.value"
            [error]="accounts.getError('atLeastOneAccount')"
            label="Withdraw from"></app-account-menu>
    </div>

    <div>
        <app-account-menu
            [control]="destinationId"
            [block]="accountId.value"
            [error]="accounts.getError('atLeastOneAccount')"
            label="Deposit to"></app-account-menu>
    </div>

    <div>
        <app-label [control]="occurredOn" text="Date"/>
        <input id="occurredOn" type="date" formControlName="occurred_on" />
        <div class="shortcuts">
            <a href="#" (click)="todayShortcut($event, 'occurred_on')">Today</a>
            <a href="#" (click)="yesterdayShortcut($event, 'occurred_on')">Yesterday</a>
        </div>
    </div>

    <div>
        <app-label [control]="clearedOn" text="Cleared" />
        <input id="clearedOn" type="date" formControlName="cleared_on" />
        <div class="shortcuts">
            <a href="#" (click)="todayShortcut($event, 'cleared_on')">Today</a>
            <a href="#" (click)="yesterdayShortcut($event, 'cleared_on')">Yesterday</a>
            <a href="#" (click)="clearShortcut($event, 'cleared_on')">Clear</a>
        </div>
    </div>

    <div>
        <app-label [control]="tags" text="Tags" />
        <input #tagsRef id="tags" type="text" formControlName="tags"/>
        <div class="shortcuts">
            @for (tag of (tagCandidates$ | async); track tag.id) {
            <a href="#" (click)="appendTag($event, tag.name)">{{ tag.name }}</a>
            }
        </div>
    </div>

    <div>
        <label for="transactionReceipt">Receipt</label>

        @if (canShowReceipt()) {
        <p>
            <a target="_blank" href="{{ receipt_url!.value }}">Current receipt</a>
        </p>
        }

        <input id="transactionReceipt" type="file" (change)="onFileChange($event)" />

        <div class="shortcuts">
            @if (canShowReceipt()) {
            <app-button type="trash" (click)="discardReceipt($event)" icon="trash" label="Discard current receipt"></app-button>
            }
        </div>
    </div>

    <div class="double-wide">
        <app-label [control]="note" text="Notes" />
        <textarea
            id="transactionNote"
            type="text"
            formControlName="note"></textarea>
    </div>

    <footer>
        @if (errorMessage) {
        <p class="validation-message">{{ errorMessage }}</p>
        }
        <app-button
            [disabled]="transactionForm.invalid || transactionForm.pristine"
            type="save"
            icon="floppy"
            label="Save"></app-button>
    </footer>
</form>
