form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em 4%;
}

@media (min-width: 850px) {
    form {
        grid-template-columns: 1fr 1fr;
    }

    .double-wide {
        grid-column: span 2;
    }

}

.autocomplete {
    display: flex;
    align-items: center;
}

.autocomplete .candidates {
    background-color: #f9eae1;
    width: 100%;
    padding: 1em;
    position: relative;
}

.autocomplete .candidates .candidate {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 1em;
    padding: 0.25em 0;
}

.autocomplete .candidates .candidate .icon {
    width: 15px;
    height: 15px;
}

.autocomplete .candidates .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.autocomplete .candidates .close .icon {
    width: 20px;
    height: 20px;
}
